/* Nav Section */

nav .fa-home {
    color: #ffffff;
}

/* end of Nav Section */

/* Card Content */

.arrow-up {
    top: -20px;
    left: 38.5%;
}

.profile-card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 850px;
    background-color: #ffffff;
}

.text-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 65%;
}

.image-side {
    width: 35%;
}

.image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card button {
    border: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.7);
}

.name-text {
    margin: 0;
    font-family: "bold";
}

.info-text {
    margin: 0;
    font-family: "light";
    color: gray;
}

/* end of Card Content */
