@font-face {
    font-family: "bold";
    src: url(./assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2);
}

@font-face {
    font-family: "light";
    src: url(./assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu3cOWxw.woff2);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url(./assets/images/bg.jpg);
}

body::after {
    background: url("assets/images/overlay.png");
}

/* Nav Section */

nav {
    color: #ffffffb4;
    font-size: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding-inline: 1rem;
    list-style-type: none;
}

nav .fa-home {
    color: #ffffff;
}

/* end of Nav Section */

/* Card Content */

.arrow-up {
    position: absolute;
    top: -20px;
    left: 38.5%;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-bottom: 30px solid #fff;
}

.profile-card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 850px;
    background-color: #ffffff;
}

.profile-card .text-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 65%;
}

.profile-card .image-side {
    width: 35%;
}

.image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card button {
    border: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.7);
}

.text-side .name-text {
    margin: 0;
    font-family: "bold";
}

.text-side .info-text {
    margin: 0;
    font-family: "light";
    color: gray;
}

/* end of Card Content */

/* Footer Section */
footer,
a {
    color: #f4f4f4;
    font-size: 0.9rem;
}
/* end of Footer Section */
